

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(145deg, #a6a6a6, #4f4f4f);
  background-size: 200% 200%;
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  -webkit-animation: animatron 50s ease infinite;
  -moz-animation: animatron 50s ease infinite;
  animation: animatron 50s ease infinite;
}

h1 {
  margin: 10px 0;
  font-size: 17px;
}

h2 {
  margin: 5px 0;
  font-size: 15px;
  text-transform: uppercase;
}

p {
  font-size: 12px;
  color: #a6a6a6;
  line-height: 20px;
}

a:link {
 color: #f2f2f2
}
a:visited {
 color: #f2f2f2;
}

.card-container {
  background-color: #4f4f4f;
  border-radius: 50px;
  box-shadow: 20px 20px 40px #0d0d0d, -15px -15px 40px #a6a6a6;
  color: #f2f2f2;
  padding-top: 20px;
  position: absolute;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.card-container .round {
  border: 1px solid #a6a6a6;
  border-radius: 50%;
  padding: 7px;
}

button.primary {
  background-color: #262626;
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  color: #f2f2f2;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

.skills {
  background-color: #262626;
  border-radius: 0px 0px 40px 40px;
  text-align: left;
  padding: 35px;
  margin-top: 10px;
}

@-webkit-keyframes animatron {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@-moz-keyframes animatron {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@keyframes animatron {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
